@page "/Company"
@using AccReporting.Client.Services
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Lists
@inject ILocalStorageService LocalStorage
@inject HttpClient Client
@inject NavigationManager Nav
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.SplitButtons
@using System.Diagnostics
@using System.Security.Claims
<AuthorizeView>
    <Authorized>
        <div class="row text-center align-items-center mb-2">
            <h3>Company Selection</h3>
            <div class="col">
                @if (CurrentAccount?.Role == "Admin")
                {
                    <SfButton CssClass="bg-success" OnClick="@OnUploadclick" IconCss="syncfusion-blazor-icons syncfusion-blazor-icon-fileupload"></SfButton>
                    <SfButton CssClass="bg-success" OnClick="@ShowUsers" IconCss="e-icons e-user">Users</SfButton>
                }
                <SfButton CssClass="bg-success" OnClick="@AddNewCompany" IconCss="e-icons e-plus">Add</SfButton>
            </div>
        </div>

        @if (CompAccount is not null)
        {
            <SfListView DataSource="@CompAccount" CssClass="mx-auto"
                    ShowHeader="false">
                <ListViewFieldSettings TValue="CompaniesListDto" GroupBy="@nameof(CompaniesListDto.Role)" Id="@nameof(CompaniesListDto.Id)"></ListViewFieldSettings>
                <ListViewTemplates TValue="CompaniesListDto">
                    <GroupTemplate Context="listItem">
                        <h5 class="text-center">
                            @(listItem.Text=="Admin"?"Your Companies":"Companies")
                        </h5>
                    </GroupTemplate>
                    <Template Context="listItem">
                        @{
                        <div class="d-flex text-center" @onclick="@(async ()=>await OnClick(id: listItem.Id))">
                            <span class="badge rounded-pill"><i style="font-size:12px;color:@(listItem.IsSelected?"green":"red")" class="oi oi-@(listItem.IsSelected?"check":"x")"></i></span>
                            @(listItem.AccountNo)@(listItem.Role=="Admin"?"":" - ")@(listItem.Name)
                        </div>
                    }
                </Template>

            </ListViewTemplates>
        </SfListView>
        }
        else
        {
            <h3 class="text-center">Loading, Please wait...</h3>
        }
        <SfDialog Width="335px" IsModal="true" @bind-Visible="@Visibility">
            <DialogTemplates>
                <Header> Error </Header>
                <Content>
                    <p>There was an error</p>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="OK" IsPrimary="true" OnClick="@DlgButtonClick" />
            </DialogButtons>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
        <SfDialog Width="335px" IsModal="true" @bind-Visible="@VisibilityCompanyCreatedNeedsApproval">
            <DialogTemplates>
                <Header> Success </Header>
                <Content>
                    <p>Company Created, It will show in the list once it gets approved</p>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="OK" IsPrimary="true" OnClick="@ShowSuccessCreatedClose" />
            </DialogButtons>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
        <SfDialog Width="450px" IsModal="true" @bind-Visible="@VisibilityUsers">
            <DialogTemplates>
                <Header> All Users </Header>
                <Content>
                    <SfGrid Toolbar="@(new List<string>() { "Edit","Search" })" DataSource="@CurrUsers" AllowPaging="true" TValue="DisplayUsersDto">
                        <GridEvents OnActionFailure="@ActionFailureHandler" CellSaved="CellSavedHandler" OnActionComplete="@ActionComplete" TValue="DisplayUsersDto"></GridEvents>
                        <GridEditSettings AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
                        <GridSearchSettings Fields=@(new string[] { "UserEmail","AcCode"})></GridSearchSettings>
                        <GridColumns>
                            @*<GridColumn hidden Field="@nameof(DisplayUsersDto.IsAdmin)" HeaderText="Admin" DisplayAsCheckBox="true" MaxWidth="30" MinWidth="30"></GridColumn>*@
                            <GridColumn IsPrimaryKey="true" Field="@nameof(DisplayUsersDto.Id)" HeaderText="" Width="50"></GridColumn>
                            <GridColumn AllowSearching="true" EditType="EditType.DefaultEdit" Field="@nameof(DisplayUsersDto.UserEmail)" HeaderText="User Email"></GridColumn>
                            <GridColumn AllowSearching="true" AllowEditing="false" Field="@nameof(DisplayUsersDto.AcCode)" HeaderText="Ac Code" Width="85"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="Done" IsPrimary="true" OnClick="@DontShowUsers" />
            </DialogButtons>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
        <SfDialog Width="335px" IsModal="true" @bind-Visible="@UploadDialogVisible">
            <DialogTemplates>
                <Header> Upload Database </Header>
                <Content>
                    <SfSpinner Label="" Visible="@IsUploading"></SfSpinner>

                    <SfUploader AllowedExtensions=".txt">
                        <UploaderEvents BeforeUpload="UploadStart" Success="UploadEnd" FileSelected="OnFileSelect">
                        </UploaderEvents>
                        <UploaderAsyncSettings SaveUrl="api/Account/fileupload"></UploaderAsyncSettings>
                    </SfUploader>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="Close" Disabled="IsUploading" CssClass="bg-danger" OnClick="@DlgButtonUploadClick" />
            </DialogButtons>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
        <SfDialog Width="335px" IsModal="true" @bind-Visible="@AddDialogVisible">
            <DialogTemplates>
                <Header> Add new company</Header>
                <Content>
                    <span class="text-center">Company needs to be approved after creation</span>
                    <hr />
                    <EditForm Model="@_inpModel" Context="ct" OnValidSubmit="@OnValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <div>
                                <label for="Name">Name</label>
                                <SfTextBox @bind-Value="@_inpModel.Name" Placeholder="Enter a name"></SfTextBox>
                                <ValidationMessage For="@(() => _inpModel.Name)" />
                            </div>
                            <div>
                                <label for="phone">Phone</label>
                                <SfTextBox @bind-Value="@_inpModel.Phone" Placeholder="Enter your phone"></SfTextBox>
                                <ValidationMessage For="@(() => _inpModel.Phone)" />
                            </div>
                            <div>
                                <label for="Address">Address</label>
                                <SfTextBox @bind-Value="@_inpModel.Address" Multiline="true" Placeholder="Enter an address"></SfTextBox>
                                <ValidationMessage For="@(() => _inpModel.Address)" />
                            </div>
                        </div>
                        <div class="mt-3 ms-auto me-0">
                            <SfButton type="submit" CssClass="bg-success">Add New</SfButton>
                        </div>
                    </EditForm>
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="Cancel" CssClass="bg-danger" OnClick="@DlgButtonAddClick" />
            </DialogButtons>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
    </Authorized>
</AuthorizeView>
@code {

    [Inject]
    public HttpInterceptorService Interceptor { get; set; } = null!;
    [CascadingParameter]
    Task<AuthenticationState> AuthState { get; set; } = null!;
    NewCompanyInputDto _inpModel = new();
    List<CompaniesListDto>? CompAccount { get; set; } = new();
    List<DisplayUsersDto>? CurrUsers { get; set; } = new();
    CompaniesListDto? CurrentAccount { get; set; } = new();
    private bool Visibility { get; set; }
    private bool UploadDialogVisible { get; set; }
    private bool AddDialogVisible { get; set; }
    private bool VisibilityUsers { get; set; }
    private bool IsUploading { get; set; }
    private bool VisibilityCompanyCreatedNeedsApproval{ get; set; }
    public void CellSavedHandler(CellSaveArgs<DisplayUsersDto> args)
    {
        // Here, you can customize your code.
    }
    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {

    }
    public async void ActionComplete(ActionEventArgs<DisplayUsersDto> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            var result = await Client.PostAsJsonAsync(requestUri: "/api/Account/AddOrUpdateAccount", value: args.Data);
            if (result.IsSuccessStatusCode)
            {
                var boolresult = await result.Content.ReadFromJsonAsync<bool>();
                if (!boolresult)
                {
                    Visibility = true;

                }
            }

            CurrUsers = await Client.GetFromJsonAsync<List<DisplayUsersDto>?>(requestUri: "/api/Account/GetUserAccounts");
            if (CurrUsers is null)
            {
                CurrUsers = new List<DisplayUsersDto>();
            }
            await InvokeAsync(workItem: StateHasChanged);
        }
    }
    async Task UploadStart(BeforeUploadEventArgs args)
    {
        IsUploading = true;
        await InvokeAsync(workItem: StateHasChanged);
    }
    async Task UploadEnd(SuccessEventArgs args)
    {
        IsUploading = false;
        await InvokeAsync(workItem: StateHasChanged);
    }
    async Task OnClick(string id)
    {
        var result = await Client.GetFromJsonAsync<bool>(requestUri: "/api/Account/ChangeSelectedCompany?ID=" + id);
        if (result)
        {
            CompAccount = await Client.GetFromJsonAsync<List<CompaniesListDto>?>(requestUri: "/api/Account/GetAllCompaniesForUser");
            CurrentAccount = CompAccount!.FirstOrDefault(predicate: x => x.IsSelected);
            if (string.IsNullOrWhiteSpace(value: CurrentAccount?.Id))
            {
                CurrentAccount = null;
            }
            await InvokeAsync(workItem: StateHasChanged);
        }
        else
        {
            Visibility = true;
        }
    }
    async Task OnValidSubmit(EditContext ctx)
    {
        var model = ctx.Model as NewCompanyInputDto;
        var res = await Client.PostAsJsonAsync(requestUri: "/api/Account/CreateCompany", value: model!);
        if (res.IsSuccessStatusCode)
        {
            var boolResultFromJsonAsync = await res.Content.ReadFromJsonAsync<bool>();
            if (boolResultFromJsonAsync)
            {
                AddDialogVisible = false;
                ShowSuccessCreated(args: null!);

                CompAccount = await Client.GetFromJsonAsync<List<CompaniesListDto>?>(requestUri: "/api/Account/GetAllCompaniesForUser");
                CurrentAccount = CompAccount!.FirstOrDefault(predicate: x => x.IsSelected);
                if (string.IsNullOrWhiteSpace(value: CurrentAccount?.Id))
                {
                    CurrentAccount = null;
                }
                await InvokeAsync(workItem: StateHasChanged);
            }
            else
            {
                Visibility = true;

            }
        }
    }
    private async void OnFileSelect(SelectedEventArgs args)
    {
        var st = (await AuthState).User.Claims.ToList();
        var val = st.FirstOrDefault(predicate: x => x.Type == ClaimTypes.NameIdentifier);
        var value=val?.Value??"";
        args.CurrentRequest = new List<object> { new { ID = value } };
    }

    private void OnUploadclick(MouseEventArgs args)
    {
        UploadDialogVisible = true;
    }
    private void DlgButtonUploadClick(MouseEventArgs args)
    {
        IsUploading = false;
        UploadDialogVisible = false;
    }
    private void DlgButtonClick()
    {
        Visibility = false;
    }
    private void DlgButtonAddClick(MouseEventArgs args)
    {
        AddDialogVisible = false;
    }
    private void AddNewCompany(MouseEventArgs args)
    {
        AddDialogVisible = true;
    }


    private void ShowSuccessCreated(MouseEventArgs args)
    {
        VisibilityCompanyCreatedNeedsApproval = true;
    }
    private void ShowSuccessCreatedClose(MouseEventArgs args)
    {
        VisibilityCompanyCreatedNeedsApproval = false;
    }


    private void DontShowUsers(MouseEventArgs args)
    {
        CurrUsers = null;
        VisibilityUsers = false;
    }
    private async Task ShowUsers(MouseEventArgs args)
    {
        CurrUsers = await Client.GetFromJsonAsync<List<DisplayUsersDto>?>(requestUri: "/api/Account/GetUserAccounts") ?? new List<DisplayUsersDto>();

        VisibilityUsers = true;
    }
    protected override async Task OnInitializedAsync()
    {
        Interceptor.RegisterEvent();
        
        CompAccount = await Client.GetFromJsonAsync<List<CompaniesListDto>?>(requestUri: "/api/Account/GetAllCompaniesForUser");
        CurrentAccount = CompAccount!.FirstOrDefault(predicate: x => x.IsSelected);
        if (string.IsNullOrWhiteSpace(value: CurrentAccount?.Id))
        {
            CurrentAccount = null;
        }
        await InvokeAsync(workItem: StateHasChanged);
    }
}
